.layout {
    display: flex;

    width: 100%;
    min-height: 100vh;

    background-color: var(--color-background);
}

.content {
    width: 100%;
    min-width: 0;
    min-height: 100vh;

    overflow-x: hidden;
}